{% extends 'layouts/main.html' %}
{% block title %}Snacks | All{% endblock %}
<!-- [ {category: "category", items:[{id: "id", title: "t", brand: "b"]}, {}},{}]-->
{% block content %}
{% for one_category in all_items %}
<h3>{{ one_category.category }}</h3>
	<ul class="items">
		{% for snack in one_category.snacks %}
		<li>
			<a href="/item/{{ snack.id }}">
				
				<div class="item">
					<h5>{{ snack.title }} - {{ snack.brand }}</h5>
					
				</div>
			</a>
		</li>
		{% endfor %}
	</ul>
{% endfor %}
{% endblock %}