{% extends 'layouts/main.html' %}
{% block title %}Snacks{% endblock %}
<!-- {Title: "title", brand: "brand", category: "category",taste, holiday, comments: [comment1, comment2...]}-->
{% block content %}
<ul class="items">
	
	<li>	
		<div class="item">
			<h5>Snack: {{ Snack.title }}</h5>
            <h5>Brand: {{ Snack.brand }}</h5>
            <h5>Taste: {{ Snack.taste }}</h5>
            <h5>Holiday: {{ Snack.holiday }}</h5>
            <h5>Comments</h5>
            
            {% for comment in Snack.comments %}
                <li>
                    <p>{{ comment }}</p>
                </li>
            {% endfor %}
        
		</div>
		
	</li>
	
</ul>
{% endblock %}