{% extends 'layouts/main.html' %}
{% block title %}Snacks{% endblock %}
<!-- {Title: "title", brand: "brand", category: "category",taste, holiday, comments: [comment1, comment2...]}-->
{% block content %}
<ul class="items">
	
	<li>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4>{{ Snack.title }} - {{ Snack.brand }}</h4>
                    <p>Category: {{ Snack.category }}</p>
                    <p>Taste: {{ Snack.taste }}</p>
                    <p>Holiday: {{ Snack.holiday }}</p>
                    <img id="item-splash" src="{{ url_for('static',filename = 'img/' + Img + '.png') }}" alt="">
                    
                    <h4>Brief summary from the AI</h4>
                </div>
                    
                <div class="col">
                    <h4>{{ Snack.title }}</h4>

                    {% for comment in Snack.comments %}
                    <li>
                        <p>{{ comment }}</p>
                    </li>
                    {% endfor %}
                </div> 
            
            </div>
        </div>	
		
	</li>
	
</ul>
{% endblock %}