{% extends 'layouts/main.html' %}
{% block title %}Register User{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form" action="/user/create">
      {{ form.csrf_token }}
      <h3 class="form-heading">Register new user</h3>
      <div class="form-group">
        <label for="username">Username</label>
        {{ form.username(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        {{ form.email(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        {{ form.password(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="confirm">Confirm Password</label>
        {{ form.confirm(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
          <label for="phone_number">Phone</label>
          {{ form.phone_number(class_ = 'form-control', placeholder='', autofocus = true) }}
      </div>
      <input type="submit" value="Signup" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}
